@{
    Layout = null;
    @model User;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Register Page</title>
    <style>
        html, body{
        	height: 100%;
        }
        body{
        	display: flex;
        	align-items: center;
        	background-image: linear-gradient( to right, #f12711, #f5af19);
        }
        a{
        	color: #842029;
        	text-decoration: none;
        }
        a:hover{
        	color: #5a1118;
        }
        .uf-form-signin {
            width: 100%;
            max-width: 350px;
            padding: 15px;
            margin: auto;
        }
        .uf-input-group .input-group-text {
            background: #ffffff70;
            color: #f8f9fa;
            border: unset;
            font-size: 18px;
            padding: 15px;
            width: 50px;
        }
        
        .uf-input-group .form-control {
            border: unset;
            border-left: 1px solid #ffffff05;
            font-size: 16px;
            background: #ffffff70;
        }
        
        .uf-input-group .form-control:focus {
            box-shadow: unset;
            background: #ffffff;
        }
        .uf-btn-primary {
            background: #842029;
            color: #fff;
        }
        
        .uf-btn-primary:hover {
            background: #5a1118;
            color: #fff;
        }
        
        .uf-form-check-input:checked {
            background-color: #842029;
            border-color: #842029;
        }
        
        .uf-social-login .uf-social-ic+.uf-social-ic{
        	margin-left: 15px;
        }
        .uf-social-ic{
        	width: 40px;
        	height: 40px;
        	background: #fff;
        	border-radius: 50%;
        	display: flex;
        	justify-content: center;
        	align-items: center;
        }
        .uf-social-ic:hover{
        	background: #842029;
        }
        .uf-social-ic:hover i{
        	color: #fff;
        }
    </style>
</head>

<body>
<div class="uf-form-signin">
    <div class="text-center">
        <a asp-action="Index">
            <img src="/img/logo.png" alt="" height="50" style="margin-bottom: 50px">
        </a>
        <h1 class="text-white h3">Account Register</h1>
    </div>
    <form asp-action="Register" class="mt-4">
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-user"></span>
            <input asp-for="FirstName" type="text" class="form-control" placeholder="Your first name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-user"></span>
            <input asp-for="LastName" type="text" class="form-control" placeholder="Your last name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-envelope"></span>
            <input asp-for="Email" type="text" class="form-control" placeholder="Email address">
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-lock"></span>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-lock"></span>
            <input asp-for="Bio" type="password" class="form-control" placeholder="Password Confirmation">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="d-grid mb-4">
            <button type="submit" class="btn uf-btn-primary btn-lg">Sign Up</button>
        </div>
        <div class="mt-4 text-center">
            <span class="text-white">Already a member?</span>
            <a asp-action="Login" class="text-white fw-bold">Login</a>
        </div>
        <div class="mt-4 text-center">
            <span class="text-white">Back to </span>
            <a asp-action="Index" class="text-white fw-bold">Home</a>
        </div>
    </form>
</div>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap5/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>